.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 260px; /* Sidebar width */
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
